:root {
	--container-width: 1150px;
	--container-padding: 15px;

	--font-family: 'Inter', sans-serif;
	--second-family: 'Poppins', sans-serif;

	--white-color: #ffffff;
	--black-color: #000000;
	--text--color: #141718;

    --laptop-size: 1185px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}