.bestseller {
  padding-top: 40px;
  margin-bottom: 40px;

  @include laptop {
    margin-bottom: 100px;
  }
}

.bestseller__title {
  text-align: center;
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: var(--black-color);

  @include tablet {
    text-align: left;
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 48px;
  }
}

.bestseller__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 8px;
  justify-items: center;

  .card__title {
    display: inline-block;
    max-width: 152px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 157%;
    margin-bottom: 4px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include minMobile {
      max-width: auto;
    }

    @include largeTablet {
      max-width: 262px;
    }

    @include laptop {
      font-size: 16px;
      line-height: 162%;
    }
  }

  .card__like {
    display: none;
  }

  @include minMobile {
    grid-template-columns: 1fr;

    .card__box img {
      width: 200px;
    }
  }

  @include laptop {
    grid-template-columns: repeat(4, 1fr);
    gap: 48px 24px;
  }
}
