.card {
  max-width: 231px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;

  @include largeTablet {
    max-width: 262px;
  }
}

.card__box {
  position: relative;

  &.new:before,
  &.hot:before {
    content: "new";
    position: absolute;
    width: 67px;
    height: 24px;
    top: 16px;
    left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #121212;

    background-color: var(--white-color);
  }

  &.hot:before {
    content: "hot";
    width: 63px;
  }
}

.card__like {
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  top: 16px;
  left: 14px;
  right: 14px;
  height: 88%;

  @include laptop {
    opacity: 0;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }

  svg {
    cursor: pointer;

    &:hover {
      path {
        fill-rule: red;
        fill: red;
      }
    }
  }

  &:hover {
    //desctop use
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.card__button.hero__button {
  width: 100%;
  padding: 12px 0;
  font-size: 12px;
}

.card__rating {
  margin-bottom: 4px;
}

.card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #141718;
  margin-bottom: 4px;
}

.card__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #121212;
}
