.header {
  background-color: #ffc95c;
}

.header__nav {
  display: flex;
  align-items: center;
  padding: 18px 0;

  @include largeTablet {
    justify-content: space-between;
  }
}

.header__logo {
  margin-right: auto;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--black-color);

  span {
    color: #377dff;
  }

  @include largeTablet {
    margin-right: 0;
    font-size: 24px;
    line-height: 100%;
  }
}

.nav__list {
  display: none;

  @include largeTablet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  a {
    @include largeTablet {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 171%;
      color: #141718;
      padding: 5px;

      @include laptop {
        font-size: 16px;
      }
    }

    @include laptop {
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s ease;
      border-radius: 5px;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border-bottom: 2px solid #141718;
        transition: border-bottom 0.3s ease;
      }
    }
  }
}

.header__client {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 27px;

  &::before {
    content: "2";
    position: absolute;
    font-family: var(--font-family);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #141718;
    color: #ffab00;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  @include largeTablet {
    gap: 16px;
    padding-right: 10px;
  }
}

.nav__search {
  display: none;

  @include largeTablet {
    display: block;
  }
}

.nav__login {
  display: none;

  @include largeTablet {
    display: block;
  }
}
