.hero {
  background-image: url("../img/hero/hero-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;

  @include largeTablet {
    background-image: url("../img/hero/hero-bg.jpg");
    min-width: 100%;
    min-height: 100%;
  }
}

.hero__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 390px; //????

  @include laptop {
    padding-left: calc(100% / 2);
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    height: 840px;
    padding-bottom: 0;
  }
}

.hero__title {
  margin-bottom: 8px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #121212;

  span {
    color: #377dff;
  }

  @include minMobile {
    font-size: 37px;
  }

  @include laptop {
    max-width: 540px;
    text-align: left;
    font-size: 80px;
    line-height: 105%;
    letter-spacing: -0.04em;
  }
}

.hero__text {
  margin-bottom: 16px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #121212;
}

.hero__button {
  background-color: #121212;
  padding: 12px 56px;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: var(--white-color);
}
