.join {
  background-color: #E4E4E4;
  padding: 95px 0;

  @include laptop {
    position: relative;
    padding: 0;
  }

  .container {
    @include laptop {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  img {
    display: none;

    @include laptop {
      display: block;
      margin: 0 auto;
    }
  }
}

.join__title {
  margin-bottom: 8px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121212;

  @include minMobile {
    font-size: 26px;
  }

  @include laptop {
    font-size: 40px;
    line-height: 110%;
  }
}

.join__text {
  margin-bottom: 32px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: #121212;

  @include laptop {
    font-size: 18px;
    line-height: 167%;
  }
}

.join__form {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;

    background-image: url("../img/svg/email.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include tablet {
    max-width: 600px;
    margin: 0 auto;
  }

  @include laptop {
    width: 488px;
  }
}

.join__input {
  display: block;
  min-width: 170px;
  padding: 12px 0;
  padding-left: 32px;
  margin-right: 8px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
  color: #6c7275;
}

.join__submit {
  padding: 12px 0;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
  color: #6c7275;
}
