.products {
  padding-top: 32px;
}

.products__title {
  margin-bottom: 40px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: var(--dark-color);

  @include minMobile {
    font-size: 30px;
  }
}