.products {
  padding-top: 32px;

  @include largeTablet {
    padding-top: 48px;
  }
}

.products__title {
  margin-bottom: 40px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: var(--dark-color);

  @include minMobile {
    font-size: 30px;
  }

  @include largeTablet {
    font-size: 40px;
    line-height: 110%;
    margin-bottom: 48px;
  }
}
