.promotion {
  padding-top: 29px;
  background-color: rgba(255, 171, 0, 0.4);

  .container {
    padding-bottom: 29px;

    @include tablet {
      padding-top: 29px;
    }

    @include laptop {
      margin-left: 72px;
    }
  }

  @include tablet {
    padding-top: 0;
  }
}

.promotion__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include largeTablet {
    flex-direction: row;
  }

  @include laptop {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.promotion__top {
  margin-bottom: 24px;
}

.promotion__title {
  margin-bottom: 16px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #377dff;
}

.promotion__description {
  margin-bottom: 16px;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #121212;

  @include minMobile {
    font-size: 28px;
  }

  @include laptop {
    font-size: 40px;
  }
}

.promotion__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #121212;

  @include laptop {
    font-size: 20px;
  }
}
.promotion__bottom-title {
  margin-bottom: 12px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #141718;
}

.promotion__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 147px;
  padding: 6px 0;
  background-color: #141718;

  @include largeTablet {
    max-width: 155px;
    font-size: 16px;
    line-height: 175%;
  }
}

.promotion__image {
    img {
        max-width: 599px;
        width: 100%;

        @include tablet {
          max-width:none;
          width: 100%;
        }
    }

    @include largeTablet {
      order: -1;
      width: 50%;
    }
}
