.sticker {
  background-color: #141718;
  color: var(--white-color);
}

.sticker__body {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticker__title {
  position: relative;
  padding-left: 24px;
  margin-right: 22px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #fefefe;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/img/svg/ticket-percent.svg');
  }
}
.sticker__link {
  display: none;
}

.sticker__close {
  position: relative;
  width: 16px;
  height: 16px;

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    background-image: url("/img/svg/sticker-close.svg");
  }
}
